.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
}

.menu ul,
.nav-buttons ul {
  display: flex;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
}

ul li,
.menu ul li,
.nav-buttons ul li {
  list-style-type: none;
  margin-right: 2rem;
  color: black;
}

.navigation .menu ul > li:nth-child(1) {
  font-weight: 700;
}

.nav-buttons ul > li:nth-child(2) {
  margin-right: 0rem;
}

.nav-link {
  color: black;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}

main {
  width: 74rem;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 15rem;
  background-color: #e3d5ca;
  border-radius: 8px;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-weight: 700;
}

.container-cards {
  margin: 3rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: end;
  align-content: end;
}

.input-search-home {
  min-width: 20rem !important;
}
.dropdown-search {
  position: absolute;
  top: 16.3rem;
  background-color: #fff;
  border: 1px dashed #946b54 !important;
  border-radius: 5px;
  min-width: 20rem;
}

.dropdown-search ul li {
  margin-bottom: 1rem;
}
