* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
}

.menu ul {
  display: flex;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
}

.menu ul li {
  list-style-type: none;
  margin-right: 1rem;
}

.menu ul > li:nth-child(2) {
  margin-right: 0rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}

main {
  width: 74rem;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 15rem;
  background-color: #e3d5ca;
  border-radius: 8px;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-cards {
  margin: 3rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: end;
  align-content: end;
}

.card-category {
  background-color: #e3d5ca;
  border-radius: 8px;
  padding: 1rem 1rem;
}
