.hero-header {
  margin-top: 0rem;
}

.container-prompts {
  display: flex;
  gap: 2rem;
}

.prompts-filter {
  flex: 0 0 25%;
}

.prompts-container {
  flex: 0 0 70%;
}

.prompts-header {
  font-weight: 600;
  background-color: #e3d5ca;
  border: 1px dashed #946b54;
  font-size: 0.8rem;
  padding: 0rem 0.4rem;
}

.prompts-body {
  background-color: #edede9;
  color: #7b7b7b;
  font-size: 0.7rem;
  padding: 0rem 0.4rem;
}

.row {
  display: flex;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.row > * {
  text-align: left;
}

.prompts-header {
  padding: 0.8rem 0.8rem;
}
.prompts-body {
  padding: 0.6rem 0.8rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7 {
  padding: 0rem 0.1rem;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-2 {
  flex: 0 0 12%;
}
.col-3 {
  flex: 0 0 11%;
}
.col-4 {
  flex: 0 0 10%;
}
.col-5 {
  flex: 0 0 7.5%;
}
.col-6 {
  flex: 0 0 10%;
}
.col-7 {
  flex: 0 0 7%;
}

.sort-icon {
  margin-left: 0.3rem;
}

.sort-div {
  display: inline-block;
  cursor: pointer;
  margin-left: -0.4rem;
}
.icon-copy {
  width: 0.8rem;
  filter: hue-rotate(180deg);
}
.sort-icon {
  margin-right: 0.2rem;
  display: inline-block;
  width: 0.6rem;
}
.arrow-down {
  transform: rotate(180deg);
  transition: transform 0.4s linear;
}

.arrow-up {
  transform: rotate(0deg);
  transition: transform 0.4s linear;
}

.tab-filter {
  background-color: #e3d5ca;
  border-radius: 8px;
  padding: 0.8rem 0.4rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.checkboxes {
  text-align: left;
}

.checkboxes-list {
  margin-top: 0.7rem;
  padding-inline-start: 0rem;
}

.checkboxes ul li {
  margin-bottom: 0.4rem !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.prompts-search {
  border: 1px solid red;
  text-align: right;
  margin-bottom: 0.5rem;
}

.input-search {
  margin-top: 0.5rem;
  border: 1px dashed #946b54 !important;
  min-width: 18.3rem !important;
  padding: 1rem 1.5rem 1rem 2rem !important;
}

.input-search-prompts {
  border: 1px dashed #946b54 !important;
  min-width: 20rem !important;
  padding: 1rem 1.5rem 1rem 2rem !important;
}

.search-icon {
  position: absolute;
  padding: 0.7rem;
}

.search-icon-filter {
  position: absolute;
  padding: 1.2rem 0.7rem 1.2rem 0.7rem;
}

ul.topics-disabled {
  display: none;
}

ul.topics-list {
  cursor: auto;
  margin: 0.5rem 0rem;
  padding: 0rem;
}

.icons-prompts {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
}

.prompts-body .col-2 {
  display: flex;
  align-items: center;
}

.button-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  cursor: pointer;
  padding: 0rem;
}
