.card-category {
  background-color: white;
  border: 1px solid #e3d5ca;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 8.5rem;
  align-items: center;
  justify-content: space-around;
}

.card-category h2 {
  margin: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-category button {
}
