.card-category {
  background-color: white;
  border: 1px solid #ffcdb2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* height: 8.5rem; */
  min-height: 20rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card-body {
  padding: 1rem;
  flex: 0 0 50%;
}

.card-description {
  padding: 0.5rem;
}

.card-category h2 {
  color: #e5989b;
  margin: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-position: center;
  flex: 0 0 50%;
}
.card-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.card-header a h2:hover {
  color: #ffb4a2;
}

.card-header a .fa-arrow-up-right-from-square:hover {
  color: #ffb4a2 !important;
}
