.add-app-container {
  width: 100%;
  flex-direction: column;
}

.submit-box {
  margin-top: 2.5rem;
}

.submit-box-new-comment,
.submit-box {
  width: 42rem;
  max-width: 42rem;
}

.btn-add-prompt {
  margin-top: 1rem;
}
